# Intercom Configuration template
# Replace with your official Intercom App ID (Workspace ID)
VITE_INTERCOM_APP_ID=""

# SunnyRemit CMS API Base URL
VITE_API_BASE_URL="https://cms.sunnyremit.com/api/v1"
